.body-block
{
  margin-bottom:32px;
  margin-left:auto;
  margin-right:auto;
  max-height:none !important;
  width:912px;
}

.body-block .ng-leave
{
  display:none;
}

.body-container
{
  position:relative;
  background:#FFF;
  margin-top:-64px;
  z-index:3;
}

.body-container .progressbar
{
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  z-index:4;

  -webkit-transition:opacity .25s ease-in-out;
  -moz-transition:opacity .25s ease-in-out;
  -o-transition:opacity .25s ease-in-out;
  -ms-transition:opacity .25s ease-in-out;
  transition:opacity .25s ease-in-out;
}

.body-container .progressbar.ng-hide-remove
{
  opacity:0;
}

.body-container .progressbar.ng-hide-remove-active
{
  opacity:1;
}

.body-container .progressbar.ng-hide-add
{
  opacity:1;
}

.body-container .progressbar.ng-hide-add-active
{
  opacity:0;
}

.cancelled div
{
  text-decoration:line-through;
}

.center
{
  width:95%;
  top:50%;
  left:50%;
  margin:auto;
  position:absolute;
  text-align:center;
  transform:translate(-50%,-50%);
}

.holidayname {
  font-size:16px;
  line-height:2;
}

.holidayfillcontainer {
  min-height:400px !important;
}

.description {
  white-space: pre-wrap;
}

.date-littlemonth,.responsive-row1
{
  font-size:10px;
  margin-top:-3px;
}

.fill
{
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
}

.filter-name {
  font-size: 20px;
  text-transform: none;
  font-weight: normal;
}

.filter-name::first-letter {
  text-transform: uppercase;
}

.filter-search
{
  margin-top: 20px !important;
  border: none !important;
  color: white !important;
}

md-toast input {
  margin-left:10px;
  width:250px;
}

md-toolbar.md-tall 
{
  overflow:hidden;
}

md-menu-item>md-menu
{
  padding: 0 0 !important;
  height: 100%;
}

md-menu>.md-button
{
  border-radius: 0;
  margin: auto 0;
  font-size: 15px;
  text-transform: none;
  font-weight: 400;
  text-align: left;
  text-align: start;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-block;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
}

md-menu>.md-button md-icon {
    margin: auto 16px auto 0;
}

.modified
{
  text-decoration:underline;
}

.page-container
{
  height:100%;
  overflow:auto;
}

.page-container .ng-leave
{
  display:none;
  -webkit-transition-duration:0s;
  -moz-transition-duration:0s;
  -o-transition-duration:0s;
  -ms-transition-duration:0s;
  transition-duration:0s;
}

.responsive-header
{
  font-size:12px;
  color:rgba(0,0,0,.87);
}

.responsive-period
{
  font-size:10px;
  margin-top:-1px;
  color:rgba(0,0,0,.54);
}

.responsive-row1
{
  font-size:10px;
  height:14px;
  line-height:14px;
  margin-top:-3px;
  color:rgba(0,0,0,.54);
}

.responsive-row2
{
  font-size:10px;
  height:14px;
  line-height:14px;
  margin-top:-2px;
  color:rgba(0,0,0,.54);
}

.responsive-subject
{
  font-size:15px;
  height:24px;
  line-height:24px;
  margin-top:-1px;
  color:rgba(0,0,0,.87);
}

.table-day
{
  -webkit-transition:box-shadow .25s ease-in-out, z-index .25s ease-in-out;
  -moz-transition:box-shadow .25s ease-in-out, z-index .25s ease-in-out;
  -o-transition:box-shadow .25s ease-in-out, z-index .25s ease-in-out;
  -ms-transition:box-shadow .25s ease-in-out, z-index .25s ease-in-out;
  transition:box-shadow .25s ease-in-out, z-index .25s ease-in-out; 
  z-index:1;
}

.table-day:first-child .table-header-container,
.table-day-active .table-header-container,
.table-day-active + .table-day .table-header-container
{
  border-left:1px solid rgba(0,0,0,0);
}

.table-header
{
  height:20px;
  white-space:nowrap;
  text-transform:uppercase;
}

.table-day-active
{
  z-index:5;
}

.table-header-container
{
  border-left:1px solid rgba(0,0,0,.12);
  height:63px;
  max-height:63px;
  min-height:63px;
  position:relative; 
}

.table-holidayfill
{
  background:#ECECEC;
  position:relative;
  width:100%;
}

.table-lessonperiod
{
  padding-left:5px;
  padding-right:7px;
  z-index:6;
}

.table-lessonperiod-bar
{
  min-width:32px;
  width:5vh;
}

.table-lessonperiod-inner
{
  background:#ECECEC;
  min-width:48px;
  padding-left:5px;
  padding-right:7px;
  width:6vh;
  z-index:4;
}

.add-button {
  -moz-transition:transform .25s ease-in-out;
  -o-transition:transform .25s ease-in-out;
  -webkit-transition:transform .25s ease-in-out;
  transition:transform .25s ease-in-out;
}

.md-is-open .add-button {
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.table-row
{
  height:6.6509433962264vh;
  min-height:47px;
}

.body-container .table-row
{  
  background-color:white;
}

.table-highlightable
{  
  outline-width:3px;
  outline-style:dashed;
  outline-color:rgba(0,0,0,0);

  -moz-transition:outline-color .25s ease-in-out;
  -o-transition:outline-color .25s ease-in-out;
  -webkit-transition:outline-color .25s ease-in-out;
  transition:outline-color .25s ease-in-out;
}

.table-highlightable.table-lesson-active
{
  z-index:6;
  outline-color:rgba(0,0,0,.5);
}

.zero
{
  width:100%;
  height:0;
}

.table-schedule
{
  overflow:hidden;
  text-overflow:clip;
  white-space:nowrap;
  color:rgba(0,0,0,.54);
}

.table-schedule .schedule-text
{
  margin-left:4px;
}

.table-schedule-container
{
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
  -moz-transition:flex .25s ease-in-out;
  -o-transition:flex .25s ease-in-out;
  -webkit-transition:flex .25s ease-in-out;
  transition:flex .25s ease-in-out;
  position:relative;
}

.button-bar {
  position:absolute;
  bottom:0;
  right:0;
}

.button-bar .md-button {
  width:36px;
  height:36px;
  margin-right:0;
  padding:0;
}

.bright-bg .responsive-subject
{
  color:rgba(255,255,255,1);
}

.bright-bg div
{
  color:rgba(255,255,255,.70);
}

.edit-button {
  -moz-transform: scaleX(-1);    /* Gecko */
  -o-transform: scaleX(-1);      /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1);         /* Standard */
  filter: FlipH;                 /* IE 6/7/8 */
}

.remove-button {
}

.operation-button {
  width:19px !important;
  height:19px !important;
  min-height:0 !important;
  font-size:inherit !important;
  line-height:normal !important;
  padding:0 !important;
  margin:0 !important;
  opacity:0;
}

.table-header-container:hover .operation-button {
  opacity:1;
}

.table-schedule-container:hover .operation-button {
  opacity:1;
}

.table-holidayfill:hover .operation-button {
  opacity:1;
}

html, body
{
  font-family:Roboto, sans-serif;
  font-size:14px;
  height:100%;
  margin:0;
  padding:0;
}

@media screen and (min-height: 706.6666666666667px) {
  .table-row {
    outline-width:0.4245283018868vh;
  }

  .responsive-header
  {
    font-size:1.6981132075472vh;
  }
  
  .responsive-period
  {
    font-size:1.4150943396226vh;
    margin-top:-.14150943396226vh;
  }
  
  .responsive-row1
  {
    font-size:1.4150943396226vh;
    height:1.9811320754717vh;
    line-height:1.9811320754717vh;
    margin-top:-.42452830188679vh;
  }
  
  .responsive-row2
  {
    font-size:1.4150943396226vh;
    height:1.9811320754717vh;
    line-height:1.9811320754717vh;
    margin-top:-.28301886792453vh;
  }
  
  .responsive-subject
  {
    font-size:2.122641509434vh;
    height:3.3962264150943vh;
    line-height:3.3962264150943vh;
    margin-top:-.14150943396226vh;
  }
}

@media screen and (min-height: 1000px) {
  .responsive-header
  {
    font-size:16.981132075472px;
  }

  .responsive-period
  {
    font-size:14.150943396226px;
  }
}

@media screen and (min-width: 960px) {
  .hide-gt-sm 
  {
    display: none;
  }
}

@media screen and (max-width: 959.9999999999px) {
  .show-gt-sm 
  {
    display: none;
  }
}

/*
 * PRINTING PAGE
 */

.body-container.print {
  margin-right:5px;
}

.printing-tips
{
  margin-left: 20px;
}

.printing-tips table td {
  vertical-align: top;
}

.print .filter-name
{
  margin-left: 5vh !important;
}

md-toolbar.print
{
  background-color:#FFFFFF;
  color:#000000;
}

.print .table-header-container {
  border-left:none;
}

.table-lessonperiod-bar.print
{
  margin-top: 2px;
}

.table-schedule-container:not(.print):hover
{
  flex:75%;
}

.table-schedule-container.print[print-mode="highlight"]
{
  flex:100%;
}

.table-schedule-container.print[print-mode="fade"]
{
  opacity:.1;
}

.table-schedule-container.print,
.print .responsive-subject,
.print .responsive-row1,
.print .responsive-row2
{
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out;
  transition:all .25s ease-in-out;
}

.print.blacktext .responsive-subject
{
  color:rgba(0,0,0,.87) !important;
}

.print.blacktext .responsive-row1, .print.blacktext .responsive-row2
{
  color:rgba(0,0,0,.54) !important;
}


.table-schedule-container.print.borders
{  
  border-right-width:1px;
  border-right-color:rgba(0,0,0,0.12);
  border-right-style:solid;
}

.table-row.print:hover > .table-schedule-container[print-mode="highlight"]
{
  flex:2;
}

.table-row.print :last-child {
  border-right-width:0;
}

@media print {
  .table-schedule div
  {
    margin-left:1px;
  }

  .printing-tips
  {
    display:none;
  }

  .md-whiteframe-1dp
  {
    box-shadow:none;
  }

  md-divider
  {
    z-index:10;
    border-top-color:rgba(0,0,0,0.5) !important;
    border-right-color:rgba(0,0,0,0.5) !important;
  }

  .table-schedule-container.print.borders
  {  
    border-right-color:rgba(0,0,0,0.5);
  }

  .print .filter-name
  {
    margin-left:20px !important;
  }

}

md-dialog md-content {
  padding: 0 16px;
}

md-dialog .md-errors-spacer {
  min-height:0 !important;
}

md-dialog md-datepicker
{
  margin-right:0;
}

md-dialog md-datepicker .md-datepicker-button
{
  margin-left:0 !important;
  margin-right:-6px !important;
}

.upload-file-name
{
  margin-top:3px;
  margin-bottom:0;
}

md-select
{
  margin-top:16px;
  margin-bottom:0;
}

md-select md-select-value
{
  padding-bottom:3px !important;
}

md-select .md-select-icon
{
  color: rgba(0,0,0,0.26);
}

md-select .md-select-icon:hover
{
  color: rgba(0,0,0,0.54);
}

md-checkbox 
{
  margin-left:8px !important;
}

.until
{
  margin-top: 23px;
  margin-left: 8px;
  margin-right: 8px;
}