<section layout="row" flex style="height: 100%">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" layout="column">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">
        <md-input-container md-no-float class="md-block" flex>
          <input class="filter-search" ng-model="tc.filterSearch.name" placeholder="Otsi" focus-me="tc.focusSearch" flex/>  
        </md-input-container>
      </h1>
    </md-toolbar>
    <md-content layout="column" flex>     
      <md-list-item ng-repeat="filter in tc.publicFiltersArray | filter:tc.filterSearch | limitTo:tc.filterNormalLength" class="secondary-button-padding" ng-click="tc.setFilter(filter.type, filter.id, filter.name);" md-item-size="48">
        {{filter.name}}
      </md-list-item>
    </md-content>
  </md-sidenav>
  <md-content flex>
    <md-content class="md-whiteframe-1dp">
      <md-toolbar class="md-tall">
        <div class="md-toolbar-tools">
          <md-button class="filter-name" aria-label="Vali filtreering" ng-click="tc.toggleFilterMenu(); tc.focusSearch=true;">
            {{tc.filter.name}}
          </md-button>
          <span flex></span>
          <md-button aria-label="Nädal varem" class="md-icon-button" ng-click="tc.shiftDateRange(-7)">
            <md-icon md-menu-origin md-svg-icon="arrow_left"></md-icon>
          </md-button>
          <md-button aria-label="Nädal hiljem" class="md-icon-button" ng-click="tc.shiftDateRange(7)">
            <md-icon md-menu-origin md-svg-icon="arrow_right"></md-icon>
          </md-button>
          <h2 class="show-gt-sm range">
            {{tc.range.start.formattedStr}} - {{tc.range.end.formattedStr}}
          </h2>
          <div class="range hide-gt-sm" layout="row">
            <div layout="column" layout-align="center center">
              <div>{{tc.range.start.formattedDay}}</div>
              <div class="md-caption date-littlemonth">{{tc.range.start.formattedMonth}}</div>
            </div>
            <div>-</div>
            <div layout="column" layout-align="center center">
              <div>{{tc.range.end.formattedDay}}</div>
              <div class="md-caption date-littlemonth">{{tc.range.end.formattedMonth}}</div>
            </div>
          </div>
          <md-menu>
            <md-button aria-label="Veel" class="md-icon-button" ng-click="$mdOpenMenu($event);">
              <md-icon md-svg-icon="more_vert"></md-icon>
            </md-button>
            <md-menu-content width="4">        
              <md-menu-item ng-show="tc.auth_url != null">
                <md-button aria-label="Logi Stuudiumiga sisse" ng-click="tc.openLoginPage();">
                  Logi Stuudiumiga sisse
                </md-button>
              </md-menu-item>
              <md-menu-item ng-hide="tc.user == null">
                <md-button aria-label="kasutajanimi: {{tc.user.name}}">
                  {{tc.user.name}}
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item ng-show="tc.currWeek.periodcount > 1">
                <md-menu>
                  <md-button aria-label="Trüki" ng-click="$mdOpenMenu($event);">
                    <md-icon md-svg-icon="print"></md-icon>
                    Trüki tunniplaanina
                  </md-button>
                  <md-menu-content>
                    <md-menu-item ng-repeat="period in tc.currWeek.allperiods">
                      <md-button aria-label="Vali periood {{::period.name}}" ng-click="tc.openPrintPage(period.id);"> 
                        {{::period.name}}
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-item ng-show="tc.currWeek.periodcount <= 1">
                <md-button aria-label="Trüki" ng-click="tc.openPrintPage();" ng-disabled="tc.currWeek.periodcount == 0">
                  <md-icon md-svg-icon="print"></md-icon>
                  Trüki tunniplaanina
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button aria-label="Ekspordi" ng-click="tc.showExportToast();">
                  <md-icon md-svg-icon="import_export"></md-icon>
                  Ekspordi kalendrisse (ical)
                </md-button>
              </md-menu-item>
              <md-menu-divider ng-hide="tc.user == null"></md-menu-divider>
              <md-menu-item ng-hide="tc.user == null">
                <md-button aria-label="Logi välja" ng-click="tc.logout();">
                  Logi välja
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>
    </md-content>
    <div layout="row">
      <div class="body-block" flex-gt-sm="95" flex-sm="nogrow" flex-offset="0" layout="row">
        <div class="table-lessonperiod-bar show-gt-sm" flex="none" layout="column">
          <div class="table-row" layout="column" layout-align="top end">
          </div>
          <div ng-repeat="(lessonperiodID, lessonperiod) in tc.lessonperiods" class="table-row table-lessonperiod" layout="column" layout-align="top end">
            <div class="responsive-subject">{{lessonperiodID}}.</div>
            <div class="responsive-row1">{{lessonperiod.starttime}}</div>
            <div class="responsive-row2">{{lessonperiod.endtime}}</div>
          </div>
        </div>
        <md-whiteframe flex class="body-container md-whiteframe-2dp" layout="row" layout-sm="column" layout-xs="column">
          <md-progress-linear class="progressbar" md-mode="indeterminate" ng-show="tc.requesting != 0"></md-progress-linear>
          <div ng-repeat="weekday in [1,2,3,4,5]" flex="noshrink" layout="column" class="table-day" ng-class="{'md-whiteframe-10dp table-day-active': tc.currWeek.today == weekday}">
            <div class="table-header-container">
              <div class="table-header center">
                <span class="responsive-header">
                  {{tc.currWeek.dates[weekday].formattedStr}}
                </span>
                <br>
                <span class="responsive-period">
                  {{tc.currWeek.periods[weekday].name}}
                  <md-button class="md-icon-button remove-button operation-button" aria-label="Eemalda" ng-show="tc.currWeek.periods[weekday] && tc.user.level >= 5" ng-click="tc.removeData('period', tc.currWeek.periods[weekday].id, $event)">
                    —
                  </md-button>
                </span>
              </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" class="table-row">
              <div flex ng-repeat="event in tc.currWeek.filteredEvents[weekday] | orderBy:'start'" class="table-schedule-container" ng-style="tc.getBlockStyle(event)">
                <div class="table-schedule table-event fill" ng-class="{'bright-bg':event.brightBg}">
                    <div class="responsive-subject schedule-text">{{::event.name}}
                      <md-tooltip md-delay="1000">
                        {{::event.name}}
                      </md-tooltip>
                    </div>
                    <div class="responsive-row1 schedule-text">{{::event.location}}{{tc.classrooms[event.classroomid].name}}&nbsp;</div>
                    <div class="responsive-row2 schedule-text">{{::event.duration[weekday]}}</div>
                    <div class="button-bar">
                      <md-button class="md-icon-button remove-button operation-button" aria-label="Eemalda" ng-show="tc.user.level >= 1" ng-click="tc.removeData('event', event.id, $event)">
                        —
                      </md-button>
                    </div>
                </div>
              </div>
            </div>
            <!-- <md-divider></md-divider> - looks better without a divider -->
            <div flex ng-if="tc.currWeek.holidays[weekday]" layout="column" class="table-row holidayfillcontainer"> 
              <div flex class="table-holidayfill">
                <div class="center">
                  <div ng-repeat="holiday in tc.currWeek.holidays[weekday]">
                    <span class="holidayname">{{::holiday.name}}</span>
                    <div class="description">{{::holiday.description}}</div>
                    <md-button class="md-icon-button remove-button operation-button" aria-label="Eemalda" ng-show="tc.user.level >= 5" ng-click="tc.removeData('holiday', holiday.id, $event)">
                      —
                    </md-button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <md-divider></md-divider> - looks better without a divider -->
            <div ng-repeat-start="(lessonperiodID, lessonperiod) in tc.currWeek.periods[weekday].lessonperiods" class="zero table-highlightable" ng-class="{'table-lesson-active': tc.currWeek.today == weekday && tc.highlightBreakBeforeLesson == lessonperiodID}">
            </div>
            <div ng-if="!tc.currWeek.holidays[weekday]" ng-repeat-end layout="row" class="table-row table-highlightable" ng-class="{'table-lesson-active': tc.currWeek.today == weekday && tc.highlightLesson == lessonperiodID}">         
              <div class="table-lessonperiod-inner hide-gt-sm" layout="column" layout-align="top end">
                <div class="responsive-subject">{{::lessonperiodID}}.</div>
                <div class="responsive-row1">{{::lessonperiod.starttime}}</div>
                <div class="responsive-row2">{{::lessonperiod.endtime}}</div>
              </div>
              <div flex ng-repeat="schedule in tc.currWeek.filteredSchedules[weekday][lessonperiodID] | orderBy:'classroomid'" ng-style="tc.getBlockStyle(schedule)" class="table-schedule-container" ng-class="{'bright-bg':tc.people[schedule.teacherid].brightBg, 'cancelled': schedule.cancelled}">
                <div class="table-schedule fill">
                  <div class="responsive-subject schedule-text">{{tc.subjects[schedule.subjectid].name}}
                    <md-tooltip md-delay="1000">
                      {{tc.subjects[schedule.subjectid].name}}
                    </md-tooltip>
                  </div>
                  <div ng-if="tc.filter.type==='form' || tc.filter.type==='person'" class="responsive-row1 schedule-text" ng-class="{'modified': schedule.classroommodified}">{{tc.classrooms[schedule.classroomid].name}}</div>
                  <div ng-if="tc.filter.type==='subject'" class="responsive-row1 schedule-text" ng-class="{'modified': schedule.classroommodified || schedule.formsmodified}">{{tc.classrooms[schedule.classroomid].name}} - {{tc.getFormsStr(schedule)}}</div>
                  <div ng-if="tc.filter.type==='classroom'" class="responsive-row1 schedule-text"ng-class="{'modified': schedule.formsmodified}">{{tc.getFormsStr(schedule)}}</div>
                  <div ng-if="tc.filter.type!=='person'" class="responsive-row2 schedule-text" ng-class="{'modified': schedule.teachermodified}">{{tc.people[schedule.teacherid].name}}</div>
                  <div ng-if="tc.filter.type==='person' && schedule.teachermodified" class="responsive-row2 schedule-text" ng-class="{'modified': schedule.teachermodified}">{{tc.people[schedule.teacherid].name}} - {{tc.getFormsStr(schedule)}}</div>
                  <div ng-if="tc.filter.type==='person' && !schedule.teachermodified" class="responsive-row2 schedule-text" ng-class="{'modified': schedule.formsmodified}">{{tc.getFormsStr(schedule)}}</div>
                  <div class="button-bar">
                    <md-button class="md-icon-button edit-button operation-button" aria-label="Muuda" ng-show="tc.user.level >= 5 || schedule.teacherid == tc.user.id" ng-click="tc.showScheduleEditDialog($event, schedule, tc.currWeek.periods[weekday])">
                      &#9998;
                    </md-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <md-divider></md-divider> - looks better without a divider -->

          <div flex="noshrink" layout="column" class="table-day" ng-class="{'md-whiteframe-10dp table-day-active': (tc.currWeek.isToday[6] || tc.currWeek.isToday[0])}">
            <div class="table-header-container">
              <div class="table-header center">
                <span class="responsive-header">
                  nädalavahetus
                </span>
                <br>
                <span class="responsive-period">
                  {{tc.currWeek.periods[0].name}}
                  <md-button class="md-icon-button remove-button operation-button" aria-label="Eemalda" ng-show="tc.currWeek.periods[0] && tc.user.level >= 5" ng-click="tc.removeData('period', tc.currWeek.periods[0].id, $event)">
                    —
                  </md-button>
                </span>
              </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" class="table-row">
              <div flex ng-repeat="event in tc.currWeek.weekendEvents | orderBy:'start'" class="table-schedule-container" ng-style="tc.getBlockStyle(event)">
                <div class="table-schedule table-event fill">
                  <div class="responsive-subject schedule-text">{{::event.name}}
                    <md-tooltip md-delay="1000">
                      {{::event.name}}
                    </md-tooltip>
                  </div>
                  <div class="responsive-row1 schedule-text">{{::event.location}}{{tc.classrooms[event.classroomid].name}}&nbsp;</div>
                  <div class="responsive-row2 schedule-text">{{::event.durationWeekend}}</div>
                  <div class="button-bar">
                    <md-button class="md-icon-button remove-button operation-button" aria-label="Eemalda" ng-show="tc.user.level >= 1" ng-click="tc.removeData('event', event.id, $event)">
                      —
                    </md-button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <md-divider></md-divider> - looks better without a divider -->
            <div flex ng-if="tc.currWeek.holidays[0]" layout="column" class="table-row holidayfillcontainer"> 
              <div flex class="table-holidayfill">
                <div class="center">
                  <div ng-repeat="holiday in tc.currWeek.holidays[0]">
                    <span class="holidayname">{{::holiday.name}}</span>
                    <div class="description">{{::holiday.description}}</div>
                    <md-button class="md-icon-button remove-button operation-button" aria-label="Eemalda" ng-show="tc.user.level >= 5" ng-click="tc.removeData('holiday', holiday.id, $event)">
                      —
                    </md-button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <md-divider></md-divider> - looks better without a divider -->
            <div ng-if="!tc.currWeek.holidays[0]" ng-repeat="(lessonperiodID, lessonperiod) in tc.currWeek.periods[0].lessonperiods" layout="row" class="table-row">         
              <div class="table-lessonperiod-inner hide-gt-sm" layout="column" layout-align="top end">
                <div class="responsive-subject schedule-text">{{::lessonperiodID}}.</div>
                <div class="responsive-row1 schedule-text">{{::lessonperiod.starttime}}</div>
                <div class="responsive-row2 schedule-text">{{::lessonperiod.endtime}}</div>
              </div>
            </div>
          </div>
        </md-whiteframe>
      </div>
    </div>
  </md-content>
</section>
<div class="lock-size" layout="row" layout-align="center center" ng-cloak>
  <md-fab-speed-dial md-direction="up" class="md-fling md-fab-bottom-right" md-open="isFabOpen" ng-show="tc.user.level >= 1">
    <md-fab-trigger class="add-button">
      <md-button aria-label="menu" class="md-fab">
        <md-icon md-svg-icon="add"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="Uus sündmus" class="md-fab md-raised md-mini" ng-click="tc.showEventAddDialog()" ng-show="tc.user.level >= 1">
        <md-icon md-svg-icon="event" aria-label="Uus sündmus"></md-icon>
        <md-tooltip md-direction="left" md-visible="!(!tooltipVisible)" md-autohide="false">
          Uus sündmus
        </md-tooltip>
      </md-button>
      <md-button aria-label="Uus vaheaeg" class="md-fab md-raised md-mini" ng-click="tc.showHolidayAddDialog()" ng-show="tc.user.level >= 5">
        <md-icon md-svg-icon="date_range" aria-label="Uus vaheaeg"></md-icon>
        <md-tooltip md-direction="left" md-visible="!(!tooltipVisible)" md-autohide="false">
          Uus vaheaeg
        </md-tooltip>
      </md-button>
      <md-button aria-label="Uus tunniplaan" class="md-fab md-raised md-mini" ng-click="tc.showTimetableAddDialog()" ng-show="tc.user.level >= 5">
        <md-icon md-svg-icon="agenda" aria-label="Uus tunniplaan"></md-icon>
        <md-tooltip md-direction="left" md-visible="!(!tooltipVisible)" md-autohide="false">
          Uus tunniplaan
        </md-tooltip>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>