<md-content>
  <md-toolbar class="md-tall print">
    <div class="md-toolbar-tools">
      <h2 class="filter-name">
        {{pc.filter.name}}
      </h2>
      <span flex></span>
      <h2 class="range">
        {{pc.period.name}} ({{pc.period.startstr}} - {{pc.period.endstr}})
      </h2>
    </div>
  </md-toolbar>
</md-content>
<div layout="row">
  <div class="body-block" flex="100" flex="nogrow" flex-offset="0" layout="row">
    <div class="table-lessonperiod-bar print" flex="none" layout="column">
      <div ng-repeat="(lessonperiodID, lessonperiod) in pc.period.lessonperiods" class="table-row table-lessonperiod" layout="column" layout-align="top end">
        <div class="responsive-subject">{{lessonperiodID}}.</div>
        <div class="responsive-row1">{{lessonperiod.starttime}}</div>
        <div class="responsive-row2">{{lessonperiod.endtime}}</div>
      </div>
    </div>
    <md-whiteframe flex class="body-container md-whiteframe-1dp print" layout="row">
      <md-progress-linear class="progressbar" md-mode="indeterminate" ng-show="pc.requesting != 0"></md-progress-linear>
      <md-divider></md-divider>
      <div ng-repeat-start="weekday in [1,2,3,4,5]" flex="noshrink" layout="column" class="table-day">
        <md-divider></md-divider>
        <div class="table-header-container">
          <div class="table-header center">
            <span class="responsive-header">
              {{::pc.weekdays[weekday]}}
            </span>
          </div>
        </div>
        <md-divider ng-repeat-start="(lessonperiodID, lessonperiod) in pc.period.lessonperiods"></md-divider>
        <div ng-repeat-end layout="row" class="table-row print">         
          <div flex ng-repeat="schedule in pc.schedules[pc.filter.type][pc.filter.id][weekday][lessonperiodID] | orderBy:'classroomid'" ng-style="pc.getBlockStyle(schedule)" ng-click="pc.toggleBlock($event)" class="table-schedule-container print" ng-class="{'blacktext': blacktext, 'borders': borders, 'bright-bg': pc.people[schedule.teacherid].brightBg}">
            <div class="table-schedule fill">
              <div class="responsive-subject schedule-text">{{::pc.subjects[schedule.subjectid].name}}</div>
              <div ng-if="pc.filter.type==='form' || pc.filter.type==='teacher'" class="responsive-row1 schedule-text">{{::pc.classrooms[schedule.classroomid].name}}&nbsp;</div>
              <div ng-if="pc.filter.type!=='form' && pc.filter.type!=='teacher'" class="responsive-row1 schedule-text">{{::pc.classrooms[schedule.classroomid].name}} - {{::pc.getFormsStr(schedule)}}</div>
              <div ng-if="pc.filter.type!=='teacher'" class="responsive-row2 schedule-text">{{::pc.people[schedule.teacherid].name}}</div>
              <div ng-if="pc.filter.type==='teacher'" class="responsive-row2 schedule-text">{{::pc.getFormsStr(schedule)}}</div>
            </div>
          </div>
        </div>
        <md-divider></md-divider>
      </div>
      <md-divider ng-repeat-end></md-divider>
    </md-whiteframe>
  </div>
</div>
<md-content class="printing-tips" layout="row">
  <table>
    <tr>
      <td>
        <strong>Näpunäited</strong>
      </td>
      <td>
        <strong>Seaded</strong> (kasuta koos printeri seadetega peale "Trüki" vajutamist)
      </th>
    </tr>
    <tr>
      <td style="width:300px;">
        <strong>Laiendamiseks</strong> klõpsa tunnil<br>
        <strong>Varjamiseks</strong> klõpsa tunnil teine kord<br>
        <strong>Taastamiseks</strong> klõpsa tunnil kolmas kord<br>
      </td>
      <td>
        <md-checkbox md-no-ink aria-label="Kasuta musta teksti" ng-model="blacktext" class="md-primary">
          <strong>Kasuta musta teksti</strong><br/>
          <span>
            See tagab parema loetavuse kui trükkida ilma taustavärvideta.
          </span>
        </md-checkbox><br>
        <md-checkbox md-no-ink aria-label="Eralda samaaegsed tunnid" ng-model="borders" class="md-primary">
          <strong>Eralda samaaegsed tunnid</strong><br/>
          <span>
            See tagab parema loetavuse, eraldades samaaegsed tunnid õhukese joonega.
          </span>
        </md-checkbox>
      </td>
    </tr>
  </table>
  <span flex></span>
  <div>
    <md-button class="md-raised md-primary" ng-click="pc.openPrintDialog()">Trüki</md-button>
  </div>
</md-content>