<md-dialog aria-label="Lisa sündmus" ng-cloak>
  <form name="eventForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Lisa sündmus</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-icon="close" aria-label="Sulge"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout="column" ng-cloak class="md-inline-form">
        <md-content>
          <div layout-gt-xs="row">
            <md-input-container flex-gt-sm>
              <label>Nimi</label>
              <input ng-model="event.name" required maxlength="48"/>
            </md-input-container> 
            <md-input-container class="md-block" ng-show="event.outer">
              <label>Asukoht</label>
              <input ng-model="event.location">
            </md-input-container>
            <md-input-container class="md-block" ng-hide="event.outer">
              <label>Asukoht</label>
              <md-select ng-model="event.classroomid" ng-required="!event.outer" style="margin-top: -2px">
                <md-option ng-repeat="classroom in data.classroomsArr" value="{{::classroom.id}}">
                  {{::classroom.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Värv</label> <!-- https://github.com/brianpkelley/md-color-picker -->
              <input colorpicker ng-model="event.color" required maxlength="7">
            </md-input-container>
          </div> 
          <div layout-gt-xs="row">          
            <!-- http://simeonc.github.io/sc-date-time/index.html -->
            <!-- Or just a combobox -->
            <md-datepicker ng-model="event.startDate" md-max-date="event.endDate" md-placeholder="Algus" required></md-datepicker>
            <time-picker ng-model="event.startTime" selected-time="8:00" ng-hide="event.allday"></time-picker>
            <span class="until" ng-hide="!event.multiday && event.allday">kuni</span>
            <md-datepicker ng-model="event.endDate" md-min-date="event.startDate" md-placeholder="Lõpp" ng-required="event.multiday" ng-show="event.multiday"></md-datepicker>
            <time-picker ng-model="event.endTime" selected-time="10:00" ng-hide="event.allday" start-time="{{(event.startDate.getTime() == event.endDate.getTime()) ? event.startTime : ''}}"></time-picker>
          </div>
          <!-- Autocomplete field for participants -->     
          <md-contact-chips
              flex-gt-sm
              ng-init="event.participants=[]"
              ng-hide="event.forall"
              ng-model="event.participants"
              md-contacts="data.filterSearchParticipants($query)"
              md-contact-name="name"
              md-require-match="true"
              md-highlight-flags="i"
              filter-selected="true"
              placeholder="Klassid"
              ng-required="!event.forall">
          </md-contact-chips>
          <div layout-gt-sm="row">
            <md-checkbox ng-model="event.outer">
              Klassiruumiväline
            </md-checkbox>
            <md-checkbox ng-model="event.forall">
              Kõigile
            </md-checkbox>
            <md-checkbox ng-model="event.allday">
              Pole kindlaid kellaaegu
            </md-checkbox>
            <md-checkbox ng-model="event.multiday">
              Mitu päeva
            </md-checkbox>
          </div>
          <!--<md-input-container class="md-block" flex-gt-xs>
            <label>Kirjeldus</label>
            <textarea ng-model="event.description" columns="1" md-maxlength="65535" rows="5"></textarea>
          </md-input-container>-->
        </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Tühista
      </md-button>
      <md-button ng-click="answer(event)" ng-disabled="eventForm.$invalid || (!event.endTime && !event.allday)" >
        Lisa
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>