<md-dialog aria-label="Lisa vaheaeg" ng-cloak>
  <form name="holidayForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Lisa vaheaeg</h2>
        <span flex></span>
        <md-button aria-label="sulge" class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-icon="close" aria-label="Sulge"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout="column" ng-cloak class="md-inline-form">
        <md-content>
          <div layout-gt-xs="row">
            <md-input-container>
              <label>Nimi</label>
              <input ng-model="holiday.name" required maxlength="48"/>
            </md-input-container>
            <md-datepicker ng-model="holiday.startDate" md-max-date="holiday.endDate" md-placeholder="Algus" required>
            </md-datepicker>
            <md-datepicker ng-model="holiday.endDate" md-min-date="holiday.startDate" md-placeholder="Lõpp" required>
            </md-datepicker>
          </div>          
          <md-input-container class="md-block" flex-gt-xs>
            <label>Kirjeldus</label>
            <textarea ng-model="holiday.description" columns="1" md-maxlength="65535" rows="5"></textarea>
          </md-input-container>
        </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button aria-label="tühista" ng-click="cancel()">
        Tühista
      </md-button>
      <md-button aria-label="lisa" ng-click="answer(holiday)" ng-disabled="!holidayForm.$valid" >
        Lisa
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>