<md-dialog aria-label="Muuda tundi" ng-cloak>
  <form name="scheduleForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Muuda tundi valitud nädalal</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-icon="close" aria-label="Sulge"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout="column" ng-cloak class="md-inline-form">
        <md-content>
          <div layout-gt-xs="row">  
            <md-checkbox ng-model="schedule.changedate" ng-disabled="schedule.cancelled" ng-init="schedule.changedate = data.schedule.timemodified"></md-checkbox>
            <md-input-container class="md-block">
              <label>Päev</label>
              <md-select ng-model="schedule.weekday" ng-disabled="!schedule.changedate || schedule.cancelled" ng-required="schedule.changedate" style="margin-top: -2px">
                <md-option value="1" ng-selected="data.schedule.weekday==1">Esmaspäev</md-option>
                <md-option value="2" ng-selected="data.schedule.weekday==2">Teisipäev</md-option>
                <md-option value="3" ng-selected="data.schedule.weekday==3">Kolmapäev</md-option>
                <md-option value="4" ng-selected="data.schedule.weekday==4">Neljapäev</md-option>
                <md-option value="5" ng-selected="data.schedule.weekday==5">Reede</md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Tund</label>
              <md-select ng-model="schedule.lessonperiodid" ng-disabled="!schedule.changedate || schedule.cancelled" ng-required="schedule.changedate" style="margin-top: -2px">
                <md-option ng-repeat="(lessonperiodID, lessonperiod) in data.period.lessonperiods" value="{{::lessonperiodID}}" ng-selected="lessonperiodID==data.schedule.lessonperiodid">
                  {{::lessonperiodID}}. {{::lessonperiod.starttime}} - {{::lessonperiod.endtime}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout-gt-xs="row">  
            <md-checkbox ng-model="schedule.changeclassroom" ng-disabled="schedule.cancelled" ng-init="schedule.changeclassroom = data.schedule.classroommodified"></md-checkbox>
            <md-input-container class="md-block">
              <label>Klassiruum</label>
              <md-select ng-model="schedule.classroomid" ng-disabled="!schedule.changeclassroom || schedule.cancelled" ng-required="schedule.changeclassroom" style="margin-top: -2px">
                <md-option value="-1" ng-selected="!data.schedule.classroomid"></md-option>
                <md-option ng-repeat="classroom in data.prnt.classroomsArr" value="{{::classroom.id}}" ng-selected="classroom.id===data.schedule.classroomid">
                  {{::classroom.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout-gt-xs="row">  
            <md-checkbox ng-model="schedule.changeteacher" ng-disabled="schedule.cancelled" ng-init="schedule.changeteacher = data.schedule.teachermodified"></md-checkbox>
            <md-input-container class="md-block" ng-hide="schedule.outer">
              <label>Õpetaja</label>
              <md-select ng-model="schedule.teacherid" ng-disabled="!schedule.changeteacher || schedule.cancelled" ng-required="schedule.changeteacher" style="margin-top: -2px">
                <md-option ng-repeat="person in data.prnt.peopleArr" value="{{::person.id}}" ng-selected="person.id===data.schedule.teacherid">
                  {{::person.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>          
          <div layout-gt-xs="row">
            <md-contact-chips
                flex-gt-sm
                ng-init="schedule.participants=data.schedule.participants"
                ng-model="schedule.participants"
                md-contacts="data.prnt.filterSearchForms($query)"
                md-contact-name="name"
                md-require-match="true"
                md-highlight-flags="i"
                filter-selected="true"
                placeholder="Osalejad"
                ng-required="!event.forall">
            </md-contact-chips>
          </div>
          <div layout-gt-sm="row">
            <md-checkbox ng-model="schedule.continuous">
              Igal järgneval nädalal
            </md-checkbox>
            <md-checkbox ng-model="schedule.cancelled">
              Jäta tund ära
            </md-checkbox>
          </div>
          <!--<md-input-container class="md-block" flex-gt-xs>
            <label>Kirjeldus</label>
            <textarea ng-model="schedule.description" columns="1" md-maxlength="65535" rows="5"></textarea>
          </md-input-container>-->
        </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Tühista
      </md-button>
      <md-button ng-click="data.prnt.restoreOriginal(data.schedule, schedule)">
        Taasta algne
      </md-button>
      <md-button ng-click="answer(schedule)" ng-disabled="scheduleForm.$invalid" >
        Muuda
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>