<md-dialog aria-label="Lisa tunniplaan" ng-cloak>
  <form name="timetableForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Lisa tunniplaan</h2>
        <span flex></span>
        <md-button aria-label="sulge" class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-icon="close" aria-label="Sulge"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout="column" ng-cloak class="md-inline-form">
        <md-content>
          <div layout-gt-xs="row">
            <md-input-container>
              <label>Nimi</label>
              <input ng-model="timetable.name" required maxlength="48"/>
            </md-input-container>
            <md-datepicker ng-model="timetable.startDate" md-max-date="timetable.endDate" md-placeholder="Algus" required>
            </md-datepicker>
            <md-datepicker ng-model="timetable.endDate" md-min-date="timetable.startDate" md-placeholder="Lõpp" required>
            </md-datepicker>
          </div>          
          <div layout-gt-xs="row">
            <md-input-container class="upload-file-name">
              <label>Tunniplaanifail</label>
              <input name="filename" ng-model="timetable.file.name" required readonly ng-pattern="/^.*\.xml$/" />
              <div ng-messages="timetableForm.filename.$error" md-auto-hide="false">
                <div ng-message="required">
                  Palun vali tunniplaanifail (XML).
                </div>
                <div ng-message="pattern">
                  Palun vali aSc tunniplaanitarkvara eksporditud XML fail.
                </div>
              </div>
            </md-input-container>
            <choose-file-button>
              <md-button class="md-icon-button" aria-label="Vali fail" style="margin: 0;">
                <md-icon md-svg-icon="file_upload"></md-icon>
              </md-button>
              <input type="file" file="timetable.file">
            </choose-file-button>
          </div>
        </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button aria-label="tühista" ng-click="cancel()">
        Tühista
      </md-button>
      <md-button aria-label="lisa" ng-click="answer(timetable)" ng-disabled="!timetableForm.$valid" >
        Lisa
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>